/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);*/


@font-face {
    font-family: 'Open Sans';
    src: url(../../fonts/fonts/opensans.eot),url(../../fonts/fonts/opensans.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url(../../fonts/fonts/opensans-light.eot),url(../../fonts/fonts/opensans-light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url(../../fonts/fonts/opensans-semibold.eot),url(../../fonts/fonts/opensans-semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

h1 strong, h3 {
    font-weight: 900;
}

h2, h5 {
    line-height: 20px;
    text-transform: uppercase;
}

#tf-menu a.navbar-brand, h1, h2, h4, h5 {
    text-transform: uppercase;
}

body, html {
    font-family: 'Open Sans',sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #5a5a5a;
    height: 100%;
}

.title-header, label, p, p.intro, ul.about-list li {
    font-family: 'Open Sans',sans-serif;
}

h2 {
    margin: 0;
}

h3 {
    font-size: 18px;
}

h5 {
    font-weight: 700;
}

p.intro {
    font-size: 16px;
    margin: 12px 0 0;
    line-height: 24px;
    line-height: 32px;
}

a {
    color: #FFBF00;
}

    a:focus, a:hover {
        text-decoration: none;
        color: #FFBF00;
    }

.section-title hr {
    border-color: #FFBF00;
    border-width: 4px;
    width: 60px;
    float: left;
    clear: both;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

ol, ul {
    padding: 0;
    webkit-padding: 0;
    moz-padding: 0;
}

#tf-menu {
    padding: 20px;
    transition: all .8s;
}

    #tf-menu.navbar-default {
        background-color: rgba(248,248,248,0);
        border-color: rgba(231,231,231,0);
    }

    #tf-menu a.navbar-brand {
        font-size: 22px;
        color: #fff;
        font-weight: 900;
    }

    #tf-menu.navbar-default .navbar-nav > li > a {
        text-transform: uppercase;
        color: #FFF;
        font-size: 11px;
        letter-spacing: 1px;
    }

.on {
    background-color: #222 !important;
    padding: 0 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #FFBF00 !important;
    background-color: transparent;
}

.navbar-toggle {
    border-radius: 0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #FFBF00;
    border-color: #FFBF00;
}

    .navbar-default .navbar-toggle:hover > .icon-bar {
        background-color: #FFF;
    }

.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
}

#tf-home {
    background: url(../img/1.jpg) no-repeat center center local;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #cfcfcf;
    height: 100%;
}

    #tf-home .overlay {
        background-color: rgba(0,0,0,.55);
        z-index: 9999;
        color: #fff;
        background-attachment: local;
        height: 100%;
    }

.title-header {
    color: #fff;
    letter-spacing: -3px;
    word-spacing: 5px;
    text-shadow: 0 1px 2px rgba(0,0,0,.7);
    text-transform: none;
    font-weight: 600;
    font-family: Open Sans, sans-serif;
}

#tf-home p.lead {
    color: #e3e3e3;
    margin: 20px auto 20px auto;
    text-shadow: 0 1px 2px rgba(0,0,0,.7);
    letter-spacing: -1px;
    word-spacing: 2px;
}

.content {
    position: relative;
    padding: 20% 0 0;
}

.color {
    color: #FFBF00;
}

a.fa.fa-angle-down {
    padding: 10px 15px;
    color: #fff;
    border: 2px solid #b4b4b4;
    border-radius: 50%;
    font-size: 24px;
    margin-top: 170px;
    transition: all .5s;
    margin-bottom: 30px;
}

    a.fa.fa-angle-down:hover {
        background: #FFBF00;
        color: #fff;
        border: 2px solid #FFBF00;
    }

#tf-about {
    padding: 20px 0;
}

ul.about-list {
    margin: 30px 0 0;
}

    ul.about-list li {
        display: block;
        font-size: 16px;
        line-height: 30px;
    }

        ul.about-list li span {
            margin-right: 10px;
        }

#tf-team {
    background: url(../img/03.jpg) center no-repeat local;
    background-size: cover;
    color: #fff;
}

    #tf-team .overlay {
        background: -moz-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,.73) 17%,rgba(0,0,0,.66) 35%,rgba(0,0,0,.55) 62%,rgba(0,0,0,.4) 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,.8)),color-stop(17%,rgba(0,0,0,.73)),color-stop(35%,rgba(0,0,0,.66)),color-stop(62%,rgba(0,0,0,.55)),color-stop(100%,rgba(0,0,0,.4)));
        background: -webkit-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,.73) 17%,rgba(0,0,0,.66) 35%,rgba(0,0,0,.55) 62%,rgba(0,0,0,.4) 100%);
        background: -o-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,.73) 17%,rgba(0,0,0,.66) 35%,rgba(0,0,0,.55) 62%,rgba(0,0,0,.4) 100%);
        background: -ms-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,.73) 17%,rgba(0,0,0,.66) 35%,rgba(0,0,0,.55) 62%,rgba(0,0,0,.4) 100%);
        background: linear-gradient(to bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,.73) 17%,rgba(0,0,0,.66) 35%,rgba(0,0,0,.55) 62%,rgba(0,0,0,.4) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000', GradientType=0 );
        height: auto;
        background-attachment: local;
        padding: 80px 0;
    }

.section-title.center {
    padding: 0px 0px 0px 0px;
}

    .section-title h2, .section-title.center h2 {
        font-weight: 100;
        line-height: 35px;
        letter-spacing: -1px;
    }

    .section-title.center .line {
        border-top: 4px solid #FFBF00;
        height: 10px;
        width: 60px;
        text-align: center;
        margin: 20px auto 0;
    }

    .section-title.center hr {
        border-top: 4px solid rgba(252,172,69,.34);
        width: 40px;
        text-align: center;
        margin-top: 10px;
        position: relative;
        left: 17%;
    }

#team {
    margin: 0 auto;
}

    #team .item {
        padding: 0;
        margin: 15px;
        color: #FFF;
        text-align: center;
    }

img.img-circle.team-img {
    width: 120px;
    height: 120px;
    border: 4px solid transparent;
    transition: all .5s;
}

#tf-team .item .thumbnail:hover > img.img-circle.team-img {
    border: 4px solid #FFBF00;
}

#tf-team .thumbnail {
    background: 0 0;
    border: 0;
}

    #tf-team .thumbnail .caption {
        padding: 9px;
        color: #F2F2F2;
    }

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    filter: Alpha(Opacity=1);
    opacity: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 20px;
    border-radius: 0;
    background: #FFF;
    transition: all .5s;
}

ol.type li, ul.cat li {
    display: inline-block;
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1;
    background: #FFBF00;
}

#tf-clients .overlay, #tf-testimonials .overlay {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000', GradientType=0 );
}

.owl-theme .owl-controls .owl-page.active span {
    background: #FFBF00;
}

#tf-services {
    padding: 40px 0;
}

.space {
    margin-top: 40px;
}

#tf-services i.fa {
    font-size: 40px;
    border: 4px solid #FFBF00;
    width: 100px;
    height: 100px;
    padding: 27px 25px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: all .5s;
}

    #tf-services i.fa.fa-mobile {
        font-size: 50px;
        padding: 20px 25px;
    }

#tf-services .service {
   margin-top:20px;
   margin-bottom:20px;
}

#tf-services .service:hover > i.fa {
    background: #FFBF00;
    color: #fff;
}

#tf-clients {
    background: url(../img/04.jpg) center no-repeat local;
    background-size: cover;
    color: #fff;
}

    #tf-clients .overlay {
        background: -moz-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,.73) 17%,rgba(0,0,0,.66) 35%,rgba(0,0,0,.55) 62%,rgba(0,0,0,.4) 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,.8)),color-stop(17%,rgba(0,0,0,.73)),color-stop(35%,rgba(0,0,0,.66)),color-stop(62%,rgba(0,0,0,.55)),color-stop(100%,rgba(0,0,0,.4)));
        background: -webkit-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,.73) 17%,rgba(0,0,0,.66) 35%,rgba(0,0,0,.55) 62%,rgba(0,0,0,.4) 100%);
        background: -o-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,.73) 17%,rgba(0,0,0,.66) 35%,rgba(0,0,0,.55) 62%,rgba(0,0,0,.4) 100%);
        background: -ms-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,.73) 17%,rgba(0,0,0,.66) 35%,rgba(0,0,0,.55) 62%,rgba(0,0,0,.4) 100%);
        background: linear-gradient(to bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,.73) 17%,rgba(0,0,0,.66) 35%,rgba(0,0,0,.55) 62%,rgba(0,0,0,.4) 100%);
        padding: 80px 0;
        background-attachment: local;
    }

#clients .item {
    padding: 0;
    margin: 35px;
    color: #FFF;
    text-align: center;
}

#tf-works {
    padding: 80px 0;
}

.categories {
    padding: 10px 0;
}

#tf-works li.pull-right {
    margin-top: 10px;
}

ol.type li {
    margin-left: 20px;
}

    ol.type li:after {
        content: ' | ';
        margin-left: 20px;
    }

    ol.type li:last-child:after {
        content: '';
    }

    ol.type li a {
        color: #222;
    }

        ol.type li a.active {
            font-weight: 700;
        }

.isotope-item {
    z-index: 2;
    margin-right: -1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.isotope, .isotope .isotope-item {
    -webkit-backface-visibility: hidden;
}

.isotope-hidden.isotope-item {
    z-index: 1;
}

.isotope, .isotope .isotope-item {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    transition-duration: .8s;
}

.isotope {
    backface-visibility: hidden;
    -webkit-transition-property: height,width;
    -moz-transition-property: height,width;
    transition-property: height,width;
}

    .isotope .isotope-item {
        backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform,opacity;
        -moz-transition-property: -moz-transform,opacity;
        transition-property: transform,opacity;
    }

.portfolio-item {
    margin-bottom: 30px;
}

    .portfolio-item .hover-bg {
        height: 260px;
        overflow: hidden;
        position: relative;
    }

.hover-bg .hover-text {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    background: rgba(0,0,0,.66);
    padding: 25% 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all .5s;
}

    .hover-bg .hover-text > h4 {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        transition: all .3s;
    }

.hover-bg:hover .hover-text > h4 {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.hover-bg .hover-text > i {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all .3s;
}

.hover-bg:hover .hover-text > i {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.hover-bg:hover .hover-text {
    opacity: 1;
}

#tf-works i.fa {
    height: 30px;
    width: 30px;
    border: 1px solid #FFBF00;
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    color: #FFBF00;
}

#tf-testimonials {
    background: url(../img/05.jpg) center no-repeat local;
    background-size: cover;
    color: #fff;
}

    #tf-testimonials .overlay {
        background: -moz-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,.73) 17%,rgba(0,0,0,.66) 35%,rgba(0,0,0,.55) 62%,rgba(0,0,0,.4) 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,.8)),color-stop(17%,rgba(0,0,0,.73)),color-stop(35%,rgba(0,0,0,.66)),color-stop(62%,rgba(0,0,0,.55)),color-stop(100%,rgba(0,0,0,.4)));
        background: -webkit-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,.73) 17%,rgba(0,0,0,.66) 35%,rgba(0,0,0,.55) 62%,rgba(0,0,0,.4) 100%);
        background: -o-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,.73) 17%,rgba(0,0,0,.66) 35%,rgba(0,0,0,.55) 62%,rgba(0,0,0,.4) 100%);
        background: -ms-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,.73) 17%,rgba(0,0,0,.66) 35%,rgba(0,0,0,.55) 62%,rgba(0,0,0,.4) 100%);
        background: linear-gradient(to bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,.73) 17%,rgba(0,0,0,.66) 35%,rgba(0,0,0,.55) 62%,rgba(0,0,0,.4) 100%);
        padding: 80px 0;
        background-attachment: local;
    }

#testimonial {
    padding: 30px 0;
}

    #testimonial .item {
        display: block;
        width: 100%;
        height: auto;
    }

        #testimonial .item p {
            font-weight: 400;
            margin: 30px 0;
            color: #d1d1d1;
        }

#tf-contact {
    padding: 80px 0;
}

label {
    float: left;
    font-size: 12px;
    font-weight: 400;
}

#tf-contact .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

    #tf-contact .form-control:focus {
        border-color: inherit;
        outline: 0;
        -webkit-box-shadow: transparent;
        box-shadow: transparent;
    }

button.btn.tf-btn.btn-default {
    float: right;
    background: #FFBF00;
    border: 0;
    border-radius: 0;
    padding: 10px 40px;
    color: #fff;
    text-transform: uppercase;
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
        outline: 0;
        outline-offset: none;
    }

nav#footer {
    background: #222;
    color: #fff;
    padding: 20px 0 15px;
}

    nav#footer .fnav {
        vertical-align: middle;
    }

ul.footer-social li {
    display: inline-block;
    margin-right: 10px;
}

nav#footer p {
    font-size: 12px;
    margin-top: 10px;
}

#footer i.fa {
    height: 30px;
    width: 30px;
    border: 2px solid #8c8c8c;
    font-size: 20px;
    padding: 4px 5px;
    border-radius: 50%;
    color: #8c8c8c;
    transition: all .5s;
}

    #footer i.fa:hover {
        background: #FFBF00;
        border-color: #FFBF00;
        color: #fff;
    }

.blue {
    color: #00b7fe !important;
}

.yellow {
    color: #FFBF00 !important;
}

.green {
    color: #00D96D !important;
}

#tf-tools {
    overflow: hidden;
    padding: 5em 0em 0em 0em;
    background-color: #FFBF00 !important;
}

.tool-describe {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    color:#fff;
}

#bar-wrapper
{
	background: #3D3D3D;
    overflow: hidden;
    padding: 2em 0em 1.4em 0em;
}   

.phrase {
    font-size: 22px;
    color:#fff;
    font-weight: 100;
    letter-spacing: -1px;
    line-height:30px;
}

.hexagon {
    margin: 0 auto 2em auto;
    width: 120px;
    height: 80px;
    line-height: 70px;
    background: #FFC000;
    position: relative;
    text-align: center;
    color: #FFF;
    font-size: 2em;
    margin:150px auto 150px auto;
}

.hexagon:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 30px solid #FFC000;
}

.hexagon:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 30px solid #FFC000;
}

	.title
{
	margin-bottom: 3em;
}

.title h2
{
	font-weight: 400;
	font-size: 2.8em;
	color: #323232;
}

.title .byline
{
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.1em;
	color: #6F6F6F;
}

#triangle-up {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 30px solid #3D3D3D;
}
#triangle-up {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 30px solid #3D3D3D;
}

@media screen and (max-width: 480px) {
    #tf-home .content {
        padding-top: 250px;
    }

        #tf-home .content h1.title-header {
            padding-top: 30px;
            padding-bottom: 20px;
            font-size: 32px;
            letter-spacing: -2.5px;
            font-weight: 600;
            line-height: 42px;
        }

        #tf-home .content .lead {
            padding-top: 0px;
            padding-bottom: 20px;
            width: 80%;
        }

    .section-title h2, .section-title.center h2 {
        margin-top: 30px;
    }

}








